main {
    height: 1000px;
}

body {
    background-color: rgb(31, 40, 47);
}

span{
    color: white;
}

.tabuleiro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.8em;
    padding-bottom: 0.8em;
}

.lugar {
    display: flex;
    justify-content: center;
    align-items:end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10rem;
    height: 10rem;
    background-color: rgb(41, 52, 61);
}

.lugar-carta{
    /* background-color: green; */

    display: flex;
    justify-content: center;
    align-items: end;
    width: 80%;
    height: 40%;
}




.locais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.8em;
    padding-bottom: 0.8em;
}

.local {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 15rem;
    height: 16rem;
    background-color: rgb(35, 45, 53);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.deck{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .8em;
}

.card{
    width: 7rem;
    height: 8.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.card-hover:hover{
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
}

.scaled{
    scale: 1.2;
}

.set{
    scale: 0.7;
    padding: 0;
}

.forca{
    font-size: 4rem;
    font-family: 'Audiowide', cursive;
}

.energia{
    font-size: 3rem;
    font-family: 'Audiowide', cursive; 
    color: black;
}

.ganhou{
    color: yellow;
}

.empate{
    color: gray;
}
.menu{
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: baseline;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.menu-item {
    margin-bottom: 1.5px;
    padding: 5px 25px;
    background-color: #fff;
    cursor: pointer;
}

.turno-btn {

  font-family: 'Audiowide';
  position: fixed;
  bottom: 142px;
  left: 3.1%;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  border: 1.2px solid black;
  cursor: pointer;
}


#reset {
    font-family: 'Audiowide';
    position: fixed;
    bottom: 5.5%;
    right: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1.2px solid black;
    color: white;
    cursor: pointer;
}

.energiaPlayer {
    position: fixed;
    font-family: 'Audiowide';
    color: yellow;
    bottom: 50px; /* Ajuste a distância desejada da parte inferior */
    left: 7.5%;
    transform: translateX(-50%);
    font-size: 3rem;
}
.rodadas {
    position: fixed;
    font-family: 'Audiowide';
    font-size: 2rem;
    top: 5%;
    right: 20px;
}